/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  *, *::before, *::after {
	box-sizing: border-box;
  }
  
  
  :root {
	  --maxWidth:32rem;
  }
  
  body {
	  grid-template-columns: minmax(auto, var(--maxWidth));
	  justify-content:center;
  }
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	  /* startje */
	  --color-text:#111;
	  --color-background:#eee;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  
  body {
	background-color: white;
	color: #595752;
  }
  
  @font-face {
	  font-family: "rhodefont";
	  font-weight: bold;
	  src: url('../fonts/NNRektoratWeb-Heavy1.woff2');
  }
  
  @font-face {
	font-family: "rhodefont";
	font-weight: normal;
	src: url('../fonts/testfont1.woff2');
  }
  
  @font-face {
	font-family: "rhodefont";
	font-weight: thin;
	src: url('../fonts/testfont2.woff2');
  }
  
  h2 {
	font-family: "rhodefont";
	font-weight: bold;
  }
  
  
  /* voorbeeldjes van bold en normal, copy paste dit per element */
  h3 {
	font-family: "rhodefont";
	font-weight: bold;
  }
  
  h4 {
	font-family: "rhodefont";
	font-weight: bold;
  }
  
  p {
	font-family: "rhodefont";
	font-weight: normal;
	font-size: 16px;
	line-height: 1.6;
  }
  
  a {
	font-family: "rhodefont";
	font-weight: normal;
  }

  



/* WAAR HEADER STYLING BEGINT */
  
  
 nav {
  position: relative;
  background: #F1F0EC;
  height: 80px;
  max-width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-radius: 1em;
  padding: 0 20px;
}


nav h1 {
  font-size: 3em;
  margin: 0;
  font-family: "rhodefont";
  font-weight: bold;
  color: #595752;
  z-index: 1;
}

nav a {
  text-decoration: none;
  border-bottom: none;
}


/* HAMBURGER MENU LOGO LINKS UITGELIJND */
.checkbtn {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.checkbtn img {
	margin-left: -7.75em;
	margin-bottom: 0.5em;
  max-width: 1em;
}

#check {
  display: none;
}

/* DESKTOP MENU // DIT LATER VERANDEREN EN EVT WEGHALEN*/
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  line-height: 80px;
}

nav ul li a {
  color: #A6A6A6;
  font-size: 16px;
  text-decoration: none;
}

a:hover, a:active {
  background: white;
  transition: 0.5s;
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    position: relative;
    z-index: 2001;
  }

  nav { 
    position: relative;
     z-index: 1000; 
    }

  .header-ul {
    position: fixed;
    /* zet menu boven andere elementen anders verdwijnt het achter main */
    z-index: 2000; 
    inset: 80px 1em auto 1em;
    background: #F1F0EC;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 1em;
    border-radius: 1em;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  #check:checked ~ .header-ul {
    transform: translateX(0);
    opacity: 1;
  }

 

  .header-ul .menu-top {
    display: flex;
    align-items: center;
    gap: 12px;               
    width: 100%;
    margin: 0 0 12px 0;
    padding: 0;
  }

  /* styling zoekvakje in hamburger menu */
  .header-ul .menu-top input[type="text"] {
    width: 250px;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .header-ul .menu-top .cart {
    margin-left: auto;      
    display: inline-flex;
    align-items: center;
    font-weight: bold;
  }

  .header-ul li {
    display: block;
    line-height: normal;     
    margin: 8px 0;           
  }

  /* lijntjes tussen li */
  .header-ul li + li:not(.menu-top) {
    border-top: 1px solid rgba(0,0,0,.08);
    padding-top: 8px;
  }
}

  
/* EINDE VAN HEADER STYLING */


 /* BEGIN STYLING VAN NORMALE SECTION */
  
  section {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 1em;
	padding-bottom: 0px;
	background-color: #F1F0EC;

  }
  
  section img {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	order: 1;
  }
  
  section h2 {
	font-size: 2em;
	font-weight: bold;
  text-align: center;
	padding: 0px 15px;
	margin-bottom: 0px;
	order: 2;
  }
  
  section p {
  text-align: center;
	padding: 0px 15px 0px;
	order: 3;
  }
  
  section a {
  display: inline-block;
  text-decoration: none;
	align-items: start;
	text-align: center;
	border: .25px solid black;
	border-radius: 20px;
	margin-top: 0px;
	margin-bottom: 1.5em;
  margin-left: 5em;
  margin-right: 5em;
	padding: 5px;
	color: #595752;
	order: 4;
  }
  
  a:hover {
	background-color: white;
  }

  /* EINDE SECTION STYLING */


 /* BEGIN STYLING SECTION 2 */
section:nth-of-type(2) {
  display: flex;
  flex-direction: column-reverse;
  background-color: #F1F0EC;  
  color: white;
  text-align: center;
  padding: 1.5em 1em;
  position: relative;
}

section:nth-of-type(2) h2 {
  color: #595752;
  font-size: 1.8em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

/* UL als carousel */
section:nth-of-type(2) ul {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
  gap: 1em;
}

section:nth-of-type(2) ul::-webkit-scrollbar {
  display: none;
}

/* Elke li is een slide/vakje */
section:nth-of-type(2) li {
  align-items: center;
  flex: 0 0 80%;
  scroll-snap-align: center;
  background-color: #595752;
  border-radius: 1em;
  padding: 3.5em 2.5em;
  margin-bottom: 6em;
  color: white;
  text-align: left;
}

section:nth-of-type(2) li h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-weight: normal;
  text-align: center;
}

section:nth-of-type(2) li p {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

section:nth-of-type(2) ul {
  scroll-behavior: smooth;       
  scroll-snap-type: x mandatory;  
  scroll-snap-stop: always;       
}

/* Bij stoppen met scrollen stopt het in center van element*/
section:nth-of-type(2) li {
  scroll-snap-align: center;
}

/* Stlying pijltjes onderaan de carousel */
section:nth-of-type(2) ul::scroll-button(*) {
  width: 2.5em;
  aspect-ratio: 1;
  margin: 1em auto 0;
  margin-bottom: 1em;
  background-color: #595752;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Linker pijl */
section:nth-of-type(2) ul::scroll-button(left) {
  content: '‹' / 'Previous';
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

/* Rechter pijl */
section:nth-of-type(2) ul::scroll-button(right) {
  content: '›' / 'Next';
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* Pijltjes die uitgeschakeld zijn iets lichter */
section:nth-of-type(2) ul::scroll-button(*):disabled {
  opacity: .4;
}

/* EINDE STYLING SECTION 2 */


 /* BEGIN STYLING VAN SECTION3 */
  
 section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 1em;
	padding-bottom: 0px;
	background-color: #F1F0EC;

  }
  
  section:nth-of-type(3) h2 {
    font-family: sans-serif;
	  font-size: 1.5em;
	  font-weight: bold;
    margin-top: 2em;
	  margin-bottom: 0px;
    text-align: center;
	  order: 1;
  }
  
  section:nth-of-type(3) p {
	  padding: 0px 15px 0px;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
	  order: 2;
  }

  section:nth-of-type(3) a {
    display: inline-block;
    align-items: start;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 5px;
    color: #595752;
    order: 3;
  }
  
  section:nth-of-type(3) :hover {
	background-color: white;
  }

/* EINDE SECTION3 STYLING */


/* BEGIN DIV STYLING 'our ongoing partners' */

div:nth-of-type(1) h2 {
  align-items: center;
  margin-left: 1.5em;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}

  /* EINDE DIV STYLING 'our ongoing partners' */



 /* BEGIN STYLING VAN SECTION5 */
  
section:nth-of-type(5) {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 1em;
	padding-bottom: 0px;
	background-color: #F1F0EC;
}
  
section:nth-of-type(5) h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0px;
  text-align: center;
  order: 1;
}
  
section:nth-of-type(5) p {
	padding: 0px 15px 0px;
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
	order: 2;
}

  section:nth-of-type(5) a {
    display: inline-block;
    align-items: start;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 5px;
    color: #595752;
    order: 3;
  }
  
  section:nth-of-type(5) :hover {
	background-color: white;
  }

  /* EINDE SECTION5 STYLING */


 /* BEGIN STYLING VAN SECTION7 */
  
 section:nth-of-type(7) {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1em;
    padding-bottom: 0px;
    background-color: #F1F0EC;

  }
  
  section:nth-of-type(7) h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0px;
    text-align: center;
    order: 1;
  }
  
  section:nth-of-type(7) p {
    padding: 0px 15px 0px;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    order: 2;
  }

  section:nth-of-type(7) a {
    display: inline-block;
    align-items: start;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 5px;
    color: #595752;
    order: 3;
  }
  
  section:nth-of-type(7) :hover {
	background-color: white;
  }

  /* EINDE SECTION7 STYLING */


 /* BEGIN STYLING VAN SECTION9 */
  
  section:nth-of-type(9) {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 1em;
	padding-bottom: 0px;
	background-color: #F1F0EC;

  }
  
  section:nth-of-type(9) h2 {
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-top: 3em;
	  margin-bottom: 0px;
    text-align: center;
    order: 1;
  }
  
  section:nth-of-type(9) p {
	padding: 0px 15px 0px;
	order: 2;
  }

  section:nth-of-type(9) a {
    display: inline-block;
    align-items: start;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 5px;
    color: #595752;
    order: 3;
  }
  
  section:nth-of-type(9) :hover {
	background-color: white;
  }

  /* EINDE SECTION9 STYLING */


/* BEGIN DIV STYLING 'our work in 2025' */

  div:nth-of-type(2) h2 {
    align-items: center;
    margin-left: 2.75em;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
  }
  
 /* EINDE DIV STYLING 'our work in 2025' */

   
/*BEGIN STYLING SECTION 10 / Formulier */

section:nth-of-type(10) {
  display: flex;
  flex-direction: column; 
  background-color: #F1F0EC;
  padding: 2em 1.5em;
  border-radius: 1em;
  text-align: left;
  max-width: 600px;
  margin-bottom: 3em;
}

section:nth-of-type(10) h2 {
  order: 1;
  color: #595752;
  font-size: 1.7em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

section:nth-of-type(10) p {
  order: 2;
  color: #666;
  font-size: 1em;
  margin-bottom: 1.5em;
  text-align: center;
}

section:nth-of-type(10) form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section:nth-of-type(10) label {
  font-family: "rhodefont";   
  font-weight: normal;       
  font-size: 1.5em;             
  color: #595752;
  margin-bottom: 0.1em;
}

section:nth-of-type(10) input,
section:nth-of-type(10) textarea {
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 1.5em;
  font-size: 1em;
  font-family: "rhodefont";
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

section:nth-of-type(10) input:focus,
section:nth-of-type(10) textarea:focus {
  border-color: #595752;
}

section:nth-of-type(10) button {
  align-self: center;
  padding: 0.6em 2em;
  border-radius: 2em;
  background-color: #595752;
  color: white;
  border: none;
  font-size: 1em;
  font-family: "rhodefont";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

section:nth-of-type(10) button:hover {
  background-color: #333;
}

section:nth-of-type(10) h2 { order: 0; }
section:nth-of-type(10) p  { order: 1; }
section:nth-of-type(10) form { order: 2; } 
/* EINDE STYLING SECTION 10 / Formulier */


/* BEGIN STYLING SCROLL ANIMATIES */

@keyframes fadeUp { from {opacity:0; transform:translateY(24px)} to {opacity:1; transform:none} }
@supports (animation-timeline: view()) {
  section {
    animation: fadeUp .7s ease-out both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
}

/* EINDE STYLING SCROLL ANIMATIES */

